<div class="card " style="width: 18rem;">
  <%= image_tag line_item.product.image.url, class: 'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title"><%= line_item.product.name %></h5>
    <p class="card-text"><%= line_item.product.description %>
      <br><br>
    <small class="text-muted">Quantity: <%= line_item.quantity %></small>
      <br>
      <small class="text-muted">Product Total: <%= line_item.item_price_cents / 100 %>.<%= (line_item.item_price_cents - (line_item.item_price_cents / 100)).to_s[0..1].to_i %>$</small>
    <br>
   <small class="text-muted">Last updated <%= line_item.updated_at %></small>
  </div>
</div>